<!DOCTYPE html>
<html lang="en">
<title>Houston Five-0</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CRIMETRACKER - Houston</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.css">
    <!-- <link rel="stylesheet" href="assets/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nivo-lightbox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='img/favicon-76.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='img/favicon-120.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='img/favicon-152.png') }}">
    <link rel="icon" sizes="196x196" href="{{ url_for('static',filename='img/favicon-196.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/favicon.ico') }}">

  </head>

  <body>
      <!-- Navbar Start -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <div class="navbar-icon-container">
                  <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
                  <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i
                      class="fa fa-search fa-lg white"></i></a>
                </div>
                <a class="navbar-brand" href="#" style ="padding-top:15px;padding-left: 10px;">HOUSTON Five-o</a>
              </div>
              <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="search">
                  <!-- 
                    <div class="form-group has-feedback">
                        <input id="searchbox" type="text" placeholder="Search" class="form-control">
                        <span id="searchicon" class="fa fa-search form-control-feedback"></span>
                    </div> -->
                </form>
                <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('crime') }}" data-toggle="collapse" data-target=".navbar-collapse.in" id="full-extent-btn"><i
                        class="fa fa-arrows-alt"></i>&nbsp;&nbsp;Historical Map</a></li>
                  <li><a href="{{ url_for('index') }}" data-toggle="collapse" data-target=".navbar-collapse.in" id="full-extent-btn"><i
                          class="fa fa-clock-o"></i>&nbsp;&nbsp;Live Map</a></li>
        
                </ul>
              </div>
              <!--/.navbar-collapse -->
            </div>
        </div>
    <header class ="main-banner text-center text-white">
        <div class ="main-banner-content">
            <div class="container">
                <h1 class="wow fadeInDown animated" data-wow-duration ="1000ms" data-wow-delay="0.03"style="visibility: visible;-webkit-animation-duration-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 0.03; -moz-animation-delay: 0.03; animation-delay: 0.3s;">Houston Five-O</h1>
                <h5 class="wow fadeInDown animated" data-wow-duration ="1000ms" data-wow-delay="0.03"style="visibility: visible;-webkit-animation-duration-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 0.03; -moz-animation-delay: 0.03; animation-delay: 0.3s;">Tracking Houston crime in real time and historicaly</h5>
            </div>
        </div>
    </header>
<!-- Page content -->
  <!-- Items Section Start -->
  <section id="services" class="section">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">What are we doing and why?</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">We are making crime maps of the city so that Houstonians are aware of what's happening in their surrounding neighborhoods. Houston is the 4th largest city in the U.S., and it has an incredible night life, food scene, and diversity. However, with its beautiful and grimy charm, it has it's pockets of crime.</p>
          
        </div>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                  <div>
                      <img src="{{ url_for('static',filename='img/icons8-policeman-female-40.png') }}"></img>
                  </div>
                <h4>Police Stations</h4>
                <p>City of Houston GIS Open Data Portal</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
                  <div>
                    <img src ="{{ url_for('static',filename='img/icons8-under-construction-64.png') }}"></img>
                  </div>
                <h4>Live Traffic Incidents</h4>
                <p>City of Houston Active Incidents.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
                <div>
                  <img src="{{ url_for('static',filename='img/icons8-handcuffs-50.png') }}"></img>
                </div>
                <h4>Crime</h4>
                <p>City of Houston Incident Updates & the Sheriff's Office Incident Dataset</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Items Section End -->

 <!-- Footer -->
  <footer style="height: 100px; padding: 20px">  
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <ul>
                    <li>
                        <a>Niesha Kovich | Pratyush Painuly | Ivonne Soto</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="copyright">
                    <ul>
                        <li>
                            <a>All copyrights reserved &copy; 2019</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
      <!-- Copyright -->
  <!-- Footer Elements -->
  <div class="container p-3 mb-2 bg-light text-dark">

    <!--Grid row-->
    <div class="row d-flex justify-content-center">


      <!--Grid column-->


    <!--Grid row-->

  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><a>© 2019 Copyright <br>
    Niesha Kovich | Pratyush Painuly | Ivonne Soto</a>
  </div>
</div>
  <!-- Copyright -->

<!-- End page content -->
</div>
</footer>
</body>
</html>